@font-face {
    font-family: Satoshi;
    src: url('Satoshi-Bold.ttf');
}

h1 {
    text-align: center;
    color: white;
    font-family: Satoshi, serif;
    margin-top: 50px;
}

.japanese {
    /* writing-mode: vertical-rl; */
    text-align: left;
    color: white;
    font-family: Satoshi, serif;
    font-size: 30px;
}

.poema {
    position: absolute;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    max-width: 1000px; /* Defina a altura máxima */
    overflow: hidden;  /* O texto será cortado se ultrapassar o limite */
}

body {
    background-color:#181A1B;
    overflow: hidden;
}

body::before,
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

body::before {
    background-image: var(--bg-current, url('/fundos/spring2.webp'));
}

body::after {
    background-image: var(--bg-next);
    opacity: 0;
}

body.fade-in::after {
    opacity: 1;
}

.author {
    background-color: white;
    color: black;
}

.box {
    height: 520px;
    width: 1000px; /* 450px */
    padding: 90px 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(8px);
    border-top: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.04);

    position: absolute;
    inset: 0;
    margin: auto;
}