body {
    background-color: #181A1B;
}
.caixa {
    height: 85vh;
    width: 95vw;
    padding: 2.5rem 2rem;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.27);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.04);
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
#conteiner {
    width: 100%;
}
.itens {
    height: auto;
    width: 8.8rem;
    padding: 1.2rem 1.2rem;
    border-radius: 1.8rem;
    background-color: rgba(0, 0, 0, 0.02);
    margin-bottom: 3rem;
}
.arquivos {
    width: 3.5rem;
    height: auto;
    float: left;
}
.texto {
    color: white;
    font-family: Segoe UI,serif;
    font-size: 1.1rem;
    width: auto;
    float: left;
    margin-left: 0.6rem;
}
hr {
    width: 98%;
    color: #656565;
    border-style: solid;
    margin: auto;
}

.elemento.active {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 6rem;
    border: 1px solid rgba(255, 255, 255, 0.27);
    border-radius: 0.6rem;
    background-color: #141717;
    opacity: 1;
    top: 9.5rem;
    left: 3rem;
}
.elemento {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 6rem;
    border: 1px solid rgba(255, 255, 255, 0.27);
    border-radius: 0.6rem;
    background-color: #141717;
    transition: 0.5s ease-in-out;
    opacity: 0;
    top: 11rem;
    left: 3rem;
    z-index: 1;
    user-select: none;
}
.forma {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #141717;
    border: 1px solid rgba(255, 255, 255, 0.27);
    transform: rotate(45deg);
    top: -0.8rem;
    left: 6.5rem;
    border-right: none;
    border-bottom: none;
}
.info {
    font-size: 1rem;
    color: lightgray;
    font-family: Calibri,serif;
}

.senhaUm {
    position:fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    background-color: #242929;
    z-index: 2;
}

.textoSenha {
    color: white;
    font-family: Segoe UI,serif;
    font-size: 1.5rem;
    width: auto;
    float: left;
    margin-left: 0.6rem;
    user-select: none;
}

.textoSenha.fadeout {
    color: white;
    font-family: Segoe UI,serif;
    font-size: 1.5rem;
    width: auto;
    float: left;
    margin-left: 0.6rem;
    opacity: 0;
    transition: 2s ease-in-out;
}

.senha {
    position: absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.senha.fadein {
    position: absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
    opacity: 1;
    transition: 2s ease-in-out;
}

.senha.active {
    transition: none;
}

.senhaUm.inactive {
    opacity: 0;
    z-index: 0;
    user-select: none;
    transition: 2s ease-in-out;
}

.senha.inactive {
    opacity: 0;
    z-index: 0;
    user-select: none;
    transition: 2s ease-in-out;
}

#inputSenha {
    border-radius: 0.9rem;
    border: 1px;
    outline: 0;
    background-color: #1c2020;
    caret-color: #bfbfbf;
    color: #bfbfbf;
    padding: 0.6rem 0.6rem;
}

#inputSenha::after {

}

::placeholder {
    color: rgba(255, 255, 255, 0.17);
}